@import "bulma/sass/utilities/initial-variables";

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  max-width: none;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100vw;
    max-width: none;
  }
}

.navbar-links-left,
.navbar-links-right {
  flex: 1; /* Take up remaining space */
  display: flex;
  &.navbar-links-left {
    justify-content: flex-end; /* Align links to edges */
    @media screen and (max-width: 767px) {
      justify-content: flex-start;
    }
  }
  &.navbar-links-right {
    justify-content: flex-start; /* Push links to the right edge */
  }
}

.navbar-center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: yellow;
    gap: 0;
    padding: 1rem;
  }
}

.navbar-center-logo {
  width: auto;
  height: auto;
}

.navbar-logo {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: flex-start;
    background-color: red;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.navbar-item {
  margin: 0; /* Remove margin around links */
}

.navbar-item-last {
  margin-left: auto;
   max-width: 100%;
   overflow: hidden;
  @media screen and (max-width: 767px) {
    margin-left: 0;
    max-width: 100%; /* Use full width for smaller screens */
  }
}
.navbar-login {
  display: flex;
  align-items: center;
}
