@use "../variables" as vars;
@use "bulma/sass/utilities/initial-variables" as bulma;

.table .tableHead {
  padding-left: 0;
  padding-right: 1%;
  font-size: 13px;
  width: 22%;

  @media screen and (min-width: bulma.$tablet) {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 1rem;
    width: auto;
  }
}

table > tbody > tr > th {
  width: 33%;

  @media screen and (min-width: bulma.$tablet) {
    width: auto;
  }
}

.blinkyText {
  opacity: 1;

  // animation: 2.5s infinite alternate fadeinout;
  // color: rgb(164, 41, 41);
  color: vars.$primary;
  padding-left: 1rem;
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.noBold {
  font-weight: 400;
  font-size: 0.8rem;
}

.dlcalendarbutton {
  font-size: 0.7rem;
  line-height: 1;
  margin-left: 1rem;
}
