@use "bulma/sass/utilities/initial-variables" as bulma;

.underTrans {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 2rem;
  white-space: nowrap;
}

.inlineImageCustom {
  display: block;

  @media screen and (min-width: bulma.$tablet) {
    display: inline-flex;
  }
}

.adjustLeft {
  text-align: left;

  @media screen and (min-width: bulma.$tablet) {
    text-align: center;
  }
}
