@use "bulma/sass/utilities/initial-variables" as bulma;

.card-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  // grid-template-columns: repeat(4, minmax(150px, 1fr));

  gap: 1rem;
  justify-content: center;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;

  @media screen and (min-width: bulma.$tablet) {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}

.centerCard {
  width: 60%;
  margin: 0 auto;

  @media screen and (min-width: bulma.$tablet) {
    width: 40%;
  }
}

.roundedImage {
  border-radius: 10px;
}
