@use "../variables" as vars;
@use "bulma/sass/utilities/initial-variables" as bulma;

.custom-select {
  appearance: none;
  padding-right: 5px;

  // border-radius: 5px;
  border: none;
  background-color: vars.$primary;
  color: #fff;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.menuLang {
  color: vars.$background;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.custom-dropdown {
  padding-right: 1rem;

  @media screen and (min-width: bulma.$tablet) {
    padding-right: 1rem;
  }
}

.custom-dropdown-menu {
  background-color: vars.$primary;
  left: auto;
  right: -120px;

  @media screen and (min-width: bulma.$tablet) {
    right: -160px;
  }
}

.lang-dropdown-menu {
  background-color: transparent;
  left: auto;
  right: -120px;
  width: fit-content;

  @media screen and (min-width: bulma.$tablet) {
    right: -96px;
  }
}

.customDropDownContent {
  background-color: vars.$primary;
  padding: 0;
  width: fit-auto;
  border-radius: 0;
}

.divider {
  background-color: rgb(255 255 255 / 50%);
}

.langCustomDropDownMenuItem {
  width: fit-content !important;
  background-color: vars.$primary !important;
  color: vars.$background;
}

.customDropDownMenuItem {
  background-color: vars.$primary !important;
}

.customDropDownContent a.customDropDownMenuItem:hover {
  background-color: #3476f0 !important;
}

.langCustomDropDownMenuItem:hover {
  background-color: #3476f0 !important;
}
