.loginBlock {
  width: 65%;
  margin: 0 auto;

  @media screen and (min-width: vars.$smallTablet) {
    width: 35%;
  }
}

.contactForm > .field > .control.controlCenter {
  text-align: center;
}

.passwordNote {
  font-size: 0.7rem;
  color: hsl(300deg 0.5% 42.2%);
}

.loginBlock > .contactForm > .field > .control > a.passwordNoteReset {
  font-size: 0.7rem;
  color: hsl(300deg 0.5% 42.2%);
  display: block;
  margin-top: 0.25rem;
}

.loginBlock > .contactForm > .field > .control > a.passwordNoteReset:hover {
  // .passwordNoteReset:hover {
  // color: blue !important;
  color: blue;
  text-decoration: none;
}

.h-captcha {
  transform-origin: 0 0;
  overflow: visible;
}

@media (max-width: vars.$smallTablet) {
  .h-captcha {
    transform: scale(0.77);
    transform-origin: 0 0;
  }
}

.loginbutton,
.pwresetbutton {
  max-width: 100%;
  white-space: normal;
  background-color: vars.$foreground;
  color: vars.$background;
}
