.inputContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.inputBox {
  grid-column: 1;
  grid-row: 1;
  padding-right: 1.2rem;
}

.inputTog {
  grid-column: 1;
  grid-row: 1;
  place-self: center end;
  padding-right: 0.3rem;
  padding-top: 0.3rem;
}
