@use "./variables" as vars;
@use "bulma";
@import "./partials/navbar";
@import "./partials/footer";
@import "./partials/langSwitcher";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: vars.$background;
  color: vars.$foreground;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

h1 {
  font-size: clamp(16px, 5vw, 47px);
}

h2 {
  font-size: clamp(12px, 4vw, 28px);
}

h3 {
  font-size: clamp(12px, 4vw, 24px);
  font-weight: bold;
}
