@use "./variables" as vars;
@use "bulma";
@import "./partials/navbar";
@import "./partials/footer";
@import "./partials/langSwitcher";
@import "./partials/contactForm";
@import "./partials/two-card";
@import "./partials/contactInfo";
@import "./partials/map";
@import "./partials/historyPhil";
@import "./partials/vocab";
@import "./partials/courseFee";
@import "./partials/instructors";
@import "./partials/oneCard";
@import "./partials/logIn";

@font-face {
  font-family: Euljiro;
  src: url("/fonts/BMEULJIROTTF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: vars.$background;
  color: vars.$foreground;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  font-size: 16px;

  @media screen and (min-width: $tablet) {
    font-size: 19px;
  }
}

h1 {
  font-size: 1.7rem;
  font-weight: 700;

  @media screen and (min-width: vars.$smallTablet) {
    // font-size: clamp(16px, 5vw, 47px);
    font-size: clamp(1.7rem, 5vw, 2.474rem);
  }
}

h2 {
  font-size: 1rem;

  @media screen and (min-width: vars.$smallTablet) {
    // font-size: clamp(12px, 4vw, 28px);
    font-size: clamp(0.632rem, 4vw, 1.474rem);
  }
}

h3 {
  font-size: $size-3;
  font-weight: bold;
}

h4 {
  font-size: $size-4;
  font-weight: bold;
}

h5 {
  font-size: $size-5;
  font-weight: bold;
}

h6 {
  font-size: $size-6;
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

  // padding-top: vars.$topBarHeight + vars.$brandHeight;
  padding-top: 6rem;
  background-color: vars.$background;

  @media screen and (min-width: $tablet) {
    padding-top: calc(#{vars.$navbarTotalHeight} + var(--bulma-navbar-height));
  }

  @media screen and (min-width: $desktop) {
    padding-top: vars.$topBarHeight + vars.$brandHeight;
  }
}

.mainMargin {
  margin: 2% 8%;
  width: 90%;
  max-width: 90%; // Prevents edge-case overflow

  @media screen and (min-width: $desktop) {
    margin: 10% 18%;
    width: 80%;
  }
}

.centerHeader {
  text-align: center;
  padding: 1rem;

  @media screen and (min-width: $desktop) {
    padding: 2rem;
  }
}

.bodyTextMarginTop {
  margin-top: 2rem;
}

.inlineImage {
  display: inline-flex;
}

.eulFont {
  font-family: Euljiro, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;

  &SM {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.underline {
  text-decoration: underline;
}

table {
  width: 100%;
}

ol {
  list-style-position: inside;
  padding-left: 1em;
}
