@use "./variables.scss" as vars;
@import "bulma/sass/utilities/initial-variables";

.HeroBlock {
  background-color: vars.$foreground;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 100% 100%;

  // background-image: url("/images/tkd-HeroBack800.png");
  background-image: url("/images/tkd-HeroBack5.png");

  @media screen and (min-width: vars.$smallTablet) {
    background-size: 60%;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 4%;
  }
}

.HeroBlockImage {
  background-image: url("/images/tkd-HeroBack3.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 100% 100%;

  @media screen and (min-width: $desktop) {
    margin-top: 4%;
  }
}

.HeroTitles {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0% 5%;

  @media screen and (min-width: $tablet) {
    margin: 0 5%;
  }
}

.HeroHeader {
  color: vars.$background;
  background-color: transparent;
  padding-top: 1.5rem;

  @media screen and (min-width: $tablet) {
    width: 50%;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 5rem;
  }
}

.HeroSubHeader {
  color: hsl(300deg 9% 80%);
  width: 50%;
  padding: 0 1.5rem 1rem 0;

  @media screen and (min-width: $tablet) {
    width: 55%;
    padding: 1rem 2.5rem 1rem 0;
  }
}

.HeroImage {
  position: relative;
  width: 75%;
  bottom: 40%;
  left: 30%;
}

.HeroSubHeader > h2 {
  padding-bottom: 4%;
}

.HeroBlock > .HeroTitles > .HeroSubHeader > a.joinus {
  width: 100%;
  position: relative;
  z-index: 50;

  @media screen and (min-width: vars.$smallTablet) {
    width: 50%;
  }
}

.filler {
  padding: 10rem 0 6rem;

  @media screen and (min-width: vars.$smallTablet) {
    padding-bottom: 13rem;
  }

  @media screen and (min-width: $tablet) {
    padding-bottom: 13rem;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 17rem;
  }
}
