@use "./variables.scss" as vars;
@import "bulma/sass/utilities/initial-variables";

// .main {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   min-height: 100vh;
//   padding-top: vars.$topBarHeight + vars.$brandHeight;
//   background-color: vars.$background;

//   @media screen and (min-width: $tablet) {
//     padding-top: calc(#{vars.$navbarTotalHeight} + var(--bulma-navbar-height));
//   }
// }

.HeroBlock {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: auto;
  width: 100vw;
  margin-top: 2%;

  @media screen and (min-width: $tablet) {
    margin-top: 0%;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 4%;
  }

  background-color: vars.$foreground;
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: 95% 110%;
  background-image: url("/images/tkd-wallblack.jpg");
  color: vars.$background;
  z-index: 3;
  position: relative;

  @media screen and (min-width: $tablet) {
    background-size: 70%;
    background-position: 70% 80%;
  }
}

.HeroHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  // width: 40%;
  width: 70%;
  margin: 7%;
  color: vars.$background;
  background-color: transparent;

  @media screen and (min-width: $tablet) {
    width: 40%;
    padding: 5rem 0 5rem 5rem;
    margin: 6% 0 0 6%;
  }
}

.HeroSubHeader {
  color: hsl(300deg 9% 80%);
  width: 50%;

  @media screen and (min-width: $tablet) {
    width: 100%;
  }
}
