.eulFont {
  font-family: Euljiro, sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

.underTrans {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 2rem;
  white-space: nowrap;
}
