.card-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.centerCard {
  width: 40%;
  margin: 0 auto;
}

.roundedImage {
  border-radius: 10px;
}
