.custom-select {
  appearance: none;
  padding-right: 5px;

  // border-radius: 5px;
  border: none;
  background-color: vars.$primary;
  color: #fff;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.menuLang {
  color: vars.$background;
}

#custom-dropdown {
  padding-right: 1rem;

  @media screen and (min-width: $tablet) {
    padding-right: 0;
  }
}

#custom-dropdown-menu {
  background-color: transparent;
  left: auto;
  right: -85px;

  @media screen and (min-width: $tablet) {
    right: -110px;
  }
}

.customDropDownContent {
  background-color: vars.$primary;
  padding: 0;
  width: fit-content;
  border-radius: 0;
}

#custom-dropdown a.dropdown-item.customDropDownMenuItem {
  width: fit-content;
  background-color: vars.$primary;
  padding: 0.375rem 0.5rem;
}

#custom-dropdown a.dropdown-item.customDropDownMenuItem:hover {
  background-color: #3476f0;
}
