@use "../variables.scss" as vars;
@use "bulma/sass/utilities/initial-variables";

.twoCard {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  @media screen and (min-width: $tablet) {
  }
}

.cardImage {
  display: flex;
  margin-bottom: 0;
  width: auto;
  @media screen and (min-width: $tablet) {
    width: 50%;
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 2rem;
  text-align: center;
  width: auto;
  @media screen and (min-width: $tablet) {
    width: 50%;
  }
}
