$primary: #0056f6;
$secondary: #d80032;
$accent: #f2bb05;
$background: hsl(300deg 9% 96%);
$foreground: hsl(285deg 40% 4%);
$navbar-background-color: hsl(300deg 9% 96%);
$navbar-item-hover-background-color: #0056f6;
$topBarHeight: 2rem;
$brandHeight: 2rem;
$navbarTotalHeight: $topBarHeight + $brandHeight;
$smallTablet: 576px;
